* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

#root, html {
  background-color: #E8FFFB;
  color: #083136;
  font-family: 'Comfortaa', cursive;
}

/* colors
background - #E8FFFB
secondary - #47D4E5
primary - #85FFF1
accents: #FCB07E, #F1887B 
text: #083136 */

#header, footer {
  background-color: #47D4E5;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
}

.logo {
  width: 200px;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.login-block, .reg-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #ADFFF5;
  color: #083136;
  border-radius: 20px;
  padding: 75px 150px;
  margin: 50px 2%;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

input {
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
  -moz-box-shadow:    inset 0 0 2px #083136;
  -webkit-box-shadow: inset 0 0 2px #083136;
  box-shadow:         inset 0 0 2px #083136;
}

.input-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #47D4E5;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
}

.line {
  width: 100px;
  border-color: #123440;
}

.primary-button {
  flex: 1 1 auto;
  margin: 20px;
  padding: 15px 35px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #123440;
  background-image: linear-gradient(to right,#FFBC5B 0%, #FF5645 50%, #F7213D 50%, #DD07B7 100%);
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-radius: 30px;
  border: none;
}

.secondary-button {
  border-radius: 30px;
  padding: 10px 30px;
  margin: 20px;
  border: none;
  color: #123440;
  background-image: linear-gradient(to right,#E8FFFB 0%, #85FFF1 40%, #47D4E5 100%);
}

.rating-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #47D4E5;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  margin: 1%;
  padding: 10px;
}

.rating-item_game {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: flex-start;
}

.rating-item_game_logo {
  width: 100px;
}

.rating-item_rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-left: solid 2px #123440;
}

a:link, a:active, a:visited {
  color: #083136;
  text-decoration: none;
}

.primary-button:hover, .primary-button:focus {
  background-position: right center;
  outline: none;
}

.primary-button:active, .primary-button:active:after {
  outline: none;
  background-position: left center;
}

.secondary-button:active {
  transform: translateY(3px) translateX(3px);
}

.secondary-button:focus {
  outline: none;
}