* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

/* colors
background - #E8FFFB
secondary - #47D4E5
primary - #85FFF1
accents: #FCB07E, #F1887B 
primary text: #083136 and bold
secondary text: #07373B
tertiary text: #0D5059
*/

/* base styling */
#root,
html {
  background-color: #e8fffb;
  color: #083136;
  font-family: "Comfortaa", cursive;
}

#header,
footer {
  background-color: #47d4e5;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
  color: #0d5059;
}

footer {
  position: relative;
  bottom: -100px;
  padding: 1.62rem;
}

.nav-link {
  margin-left: auto;
}

.logo {
  width: 200px;
}

input {
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
  -moz-box-shadow: inset 0 0 2px #083136;
  -webkit-box-shadow: inset 0 0 2px #083136;
  box-shadow: inset 0 0 2px #083136;
  line-height: normal !important;
}

label {
  margin-top: 10px;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.heading {
  text-align: start;
  margin: 20px;
  grid-area: heading;
  font-weight: 700;
}

.secondary-heading {
  margin: 10px;
  font-weight: 600;
}

.secondary-text {
  color: #07373b;
}

.tertiary-text {
  color: #0d5059;
}

.message-text {
  margin: 10px;
  font-weight: 600;
  color: #07373b;
}

/* login, register, and reset */
.or {
  margin: 0px 5px;
}

.login-page,
.reg-page {
  display: grid;
  grid-template-areas: ". main .";
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 2%;
}

.reset-page,
.newPass-page {
  display: grid;
  grid-template-areas:
    "heading heading heading"
    ". main .";
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 3%;
}

.login-block,
.reg-block,
.newPass-block,
.reset-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #adfff5;
  border-radius: 20px;
  padding: 20px;
  margin-top: 50px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  grid-area: main;
}

.input-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.line {
  width: 100px;
  border-color: #123440;
}

.reset-buttons {
  margin-top: 30px;
}

.login-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* buttons */
.primary-button {
  flex: 1 1 auto;
  margin: 20px;
  padding: 15px 35px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #083136;
  background-image: linear-gradient(
    to right,
    #ffbc5b 0%,
    #ff5645 50%,
    #f7213d 50%,
    #dd07b7 100%
  );
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-radius: 30px;
  border: none;
}

.secondary-button {
  border-radius: 30px;
  padding: 10px 30px;
  margin: 20px;
  border: none;
  color: #07373b;
  background-image: linear-gradient(
    to right,
    #e8fffb 0%,
    #85fff1 40%,
    #47d4e5 100%
  );
}

.tertiary-button {
  border: none;
  color: #0d5059;
  background-color: #adfff5;
  padding: 20px;
}

.nav-button {
  border: none;
  color: #0d5059;
  background-color: #47d4e5;
  margin-left: auto;
  padding: 0.5rem 0rem;
}

.heading-button {
  border: none;
  color: #083136;
  font-weight: 700;
  background-color: #e8fffb;
  padding: 20px;
  margin: 20px;
  font-size: 2.5em;
  border-radius: 20px;
}

/* add rating */
.add-rating_container {
  grid-area: add-rating-container;
  padding-top: 20px;
}

.detailed-list-page > .add-rating_container > .secondary-button {
  margin: 0px 0px 10px 0px;
}

.add-rating {
  background-color: #85fff1;
  border-radius: 20px;
}

.add-rating > .heading {
  padding: 30px 0px 30px 0px;
  margin-bottom: 0px;
}

.add-rating label,
.add-rating p {
  color: #07373b;
  margin: 10px;
}

.add-rating_input-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.add-rating_input,
.add-rating_input-block select {
  margin-left: 10px;
}

.add-rating_input-block_radios {
  display: flex;
  flex-direction: column;
}

.add-rating_input-block_radios div {
  margin-left: 10px;
}

#yes,
#no {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  box-shadow: none;
}

#add-rating_button {
  margin-left: 125px;
}

#game {
  width: 75%;
}

/* edit page */
.edit-page {
  display: grid;
  grid-template-areas:
    "heading heading heading"
    ". edit .";
}

.container_edit-rating {
  margin: 2%;
  padding: 20px;
  background-color: #47d4e5;
  grid-area: edit;
  border-radius: 20px;
}

.edit-heading {
  background-color: #adfff5;
  padding: 20px 0px 20px 0px;
  border-radius: 20px;
}

.edit-heading_game-title {
  margin: 20px;
  grid-area: heading;
  font-weight: 700;
}

/* detailed list views */
.myListPlaying-item,
.homepage-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #47d4e5;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  margin: 1%;
  padding: 10px;
}

.game-item,
.rating-item, .shared-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #47d4e5;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 20px;
}

.detailed-list-page {
  display: grid;
  grid-template-areas:
    "heading heading heading"
    ". main ."
    ". add-rating-container .";
  grid-template-columns: 0.5fr 1fr 0.5fr;
  padding-bottom: 27%;
}

.game-details-container {
  display: grid;
  grid-template-areas:
    "heading heading heading"
    ". main add-rating-container";
  grid-template-columns: 1fr 1fr 1fr;
}

.games-page {
  display: grid;
  grid-template-areas:
    "heading heading heading"
    ". main add-rating-container";
  grid-template-columns: 1fr 1fr 1fr;
}

.container_game-items,
.container_rating-items {
  grid-area: main;
}

.rating-item_game,
.game-item_left, .shared-list-item_game {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: flex-start;
  border-radius: 20px;
}

.rating-item_game {
  margin-bottom: 5px;
}

.rating-item_game_logo,
.game-item_game_logo, .shared-list-item_game_logo {
  width: 100px;
  margin: 5px;
}

.rating-item_rating {
  margin: 10px 0px 10px 20px;
  padding: 10px 0px 0px 20px;
  border-top: solid 2px #123440;
  display: flex;
  flex-direction: column;
}

.rating-item_rating_tertiary-text {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #0d5059;
  margin-left: 10px;
}

.rating-item_rating_secondary-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #07373b;
  margin-left: 10px;
  font-size: 1.5em;
}

.empty-detailed-list {
  display: grid;
  grid-template-areas:
    "heading heading heading"
    ". add-rating-container .";
  place-items: center;
}

.detailed-list_buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 20px;
}

.game-item_right {
  border-top: solid 2px #123440;
  display: grid;
  grid-template-areas:
    "developer"
    "developer-name"
    "released"
    "release-date"
    "average-rating"
    "average";
  grid-template-rows: 50px 50px 50px 50px;
  padding: 20px 0px 0px 0px;
  margin-left: 5px;
}

.developer {
  color: #0d5059;
  grid-area: developer;
}

.released {
  color: #0d5059;
  grid-area: released;
}

.average-rating {
  color: #0d5059;
  grid-area: average-rating;
}

.developer-name {
  color: #07373b;
  font-weight: 600;
  grid-area: developer-name;
}

.release-date {
  color: #07373b;
  font-weight: 600;
  grid-area: release-date;
}

.average {
  color: #07373b;
  font-weight: 600;
  grid-area: average;
}

/* My Lists & Playing Status*/
.myLists-container {
  display: grid;
  justify-items: center;
  grid-template-areas:
    ". add-rating-container ."
    ". list-playing ."
    ". list-not-playing ."
    ". list-f2p ."
    ". list-gameplay ."
    ". All_List .";
  grid-template-rows: 0.1fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  row-gap: 40px;
}

.All_List {
  grid-area: All_List;
}
.myLists_playing {
  grid-area: list-playing;
}

.myLists_playing .heading-button {
  margin-top: 0px;
  padding-top: 0px;
}

.myLists_not-playing {
  grid-area: list-not-playing;
}

.myLists_f2p {
  grid-area: list-f2p;
}

.myLists_gameplay {
  grid-area: list-gameplay;
}

.myLists-click {
  border-radius: 20px;
}

.playing-status-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 500px;
  overflow: auto;
  white-space: nowrap;
  border: none;
  margin: auto;
  border-radius: 15px;
  padding-left: 0;
  box-shadow: 0 6px 20px 0;
}

.playing-status_ul {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  list-style-type: none;
  padding-left: 20px;
  padding-right: 30px;
}

.myListPlaying-item {
  width: 200px;
  height: 200px;
  margin: 15px 10px 5px 5px;
  border: 0.5px solid rgb(224, 226, 230);
  border-radius: 15px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Homepage & Categories */
.homepage-container {
  display: grid;
  justify-content: center;
  grid-template-areas: "homepage-heading homepage-heading homepage-heading"
  ". main add-rating-container";
  grid-template-rows: 0.05fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  grid-row-gap: 40px;
}

.homepage-category-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  grid-area: main;
}

.homepage-item {
  flex-direction: column;
  border-radius: 20px;
  width: 250px;
  height: 250px;
  margin: 10px 0px 10px 0px;
}

.homepage-item_stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-top: solid 2px #123440;
}

.homepage-category_li {
  flex: 0 1 300px;
  margin: 15px;
}
.homepage-category-list {
  display: grid;
  place-items: center;
  overflow: auto;
  height: 600px;
}

.homepage-heading {
  background-color: #c2fff8;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  grid-area: homepage-heading;
}

.homepage_secondary-heading {
  margin: 10px;
  font-weight: 600;
  padding-bottom: 30px;
}

.homepage_game-title {
  font-weight: 400;
  color: #07373b;
}

/* About Page */
.about-page_heading {
  background-color: #c2fff8;
  margin-bottom: 80px;
  padding: 10px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.about-page {
  margin-bottom: 28%;
}

.about-text {
  color: #0d5059;
  text-align: left;
  margin: 0px 20px 0px 20px;
  padding: 10px 0px 20px 0px;
}

.collapsible {
  background-color: #47d4e5;
  color: #07373b;
  font-weight: 500;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  margin-bottom: 10px;
}

.collapsible:focus,
.collapsible:active {
  outline: none;
}

.team {
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}

.team_card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
  margin: 20px;
}

.team_card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.team_card:hover .team_card_inner,
.team_card:focus .team_card_inner {
  transform: rotateY(180deg);
}

.team_card_inner_front,
.team_card_inner_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  background-color: #c2fff8;
  border-radius: 20px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.team_card_inner_front {
  padding: 10px;
}

.team_card_inner_back {
  transform: rotateY(180deg);
  padding: 10px;
}

.boris-back-text {
  font-size: .9rem;
}

.image-cropper {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  margin-left: 40px;
  margin-top: 20px;
}

.headshot {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.team_card_inner_front_name {
  font-weight: 600;
  color: #07373b;
  padding: 10px;
  font-size: 1rem;
}

.linkIcon {
  width: 30px;
  padding: 5px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  height: 60px;
}

/* Boris css stuff */
.articles {
  flex: 0 1 300px;
  margin: 15px;
  background-color: #adfff5;
  border-radius: 20px;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
  padding: 20px;
}

.articles_secondary-heading {
  margin: 10px;
  font-weight: 600;
  padding-bottom: 30px;
  border-bottom: 2px solid #123440;
}

.articles_game-details-list {
  height: 100%;
}

.articles_list {
  overflow: auto;
  height: 600px;
}

.gameComponent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  grid-area: main;
}

.dl-button {
  width: 150px;
}

.dl-button2 {
  width: 130px;
}

/* Search Bar*/
.option {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.option img {
  height: 50px;
  padding: 5px;
}

.search-box input {
  width: 25%;
  padding: 12px 16px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  z-index: 100;
  border-radius: 8px;
  border: 1px solid;
  -moz-box-shadow: inset 0 0 2px #083136;
  -webkit-box-shadow: inset 0 0 2px #083136;
  box-shadow: inset 0 0 2px #083136;
}

.search-message {
  margin: 10px;
}

.search-link {
  border-radius: 20px;
  padding: 10px;
}

/* share list */
.create-share-link {
  background-color: #85fff1;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

.shared-list-item_rating {
  border-top: solid 2px #123440;
  display: grid;
  grid-template-areas:
    "gameplay"
    "gameplay_num"
    "f2p"
    "f2p_num"
    "shared-delete";
  grid-template-rows: 50px 50px 50px 50px;
  padding: 20px 0px 0px 0px;
  margin-left: 5px;
}

.shared-list_gameplay {
  grid-area: gameplay;
}

.shared-list_f2p {
  grid-area: f2p;
}

.shared-list_gameplay_number {
  grid-area: gameplay_num;
}

.shared-list_f2p_number {
  grid-area: f2p_num;
}

#shared-list_delete {
  grid-area: shared-delete;
}

/* link styling and animations */
a:link,
a:active,
a:visited,
.nav-button:link,
.nav-button:active,
.nav-button:visited {
  color: #0d5059 !important;
  text-decoration: none !important;
}

a:hover,
a:focus,
.nav-button:hover,
.nav-button:focus {
  color: #083136 !important;
  font-weight: 600;
  text-decoration: none !important;
}

.rating-item:hover,
.rating-item:focus,
.game-item:hover,
.game-item:focus {
  box-shadow: -10px 0px 0px 0px #fcb07e, 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.myListPlaying-item:hover,
.myListPlaying-item:focus,
.homepage-item:hover,
.homepage-item:focus {
  box-shadow: -6px 0px 1px 0px #fcb07e, 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.collapsible:hover,
.collapsible:focus {
  border-left: 6px solid #fcb07e;
}

.game-item_left:hover,
.game-item_left:focus,
.rating-item_game:hover,
.rating-item_game:focus,
.search-link:hover,
.search-link:focus {
  background-color: #94e7f0;
}

.heading-button:focus, .heading-button:hover {
  background-color: #c2fff8;
}

.primary-button:hover,
.primary-button:focus {
  background-position: right center;
  outline: none;
}

.primary-button:active,
.primary-button:active:after {
  outline: none;
  background-position: left center;
}

.secondary-button:active {
  transform: translateY(3px) translateX(3px);
}

#yes:hover,
#yes:focus,
#no:hover,
#no:focus {
  background-color: #ccc;
}

#yes:checked,
#no:checked {
  background-color: #85fff1;
}

a h2 {
  color: #083136;
}


/* Search Bar*/
.option {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.option img {
  height: 50px;
  margin-right: 10px;
}

.search-box input {
  width: 150px;
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  z-index: 100;
  border-radius: 5px;
  border: 1px solid;
  box-shadow: inset 0 0 2px #083136;
  margin: 5px;
}

.search-box {
  margin-left: auto;
}

.dropdown-item {
  display: flex;
  align-items: center;
  height: 60px;
}


/* media queries */

@media screen and (min-width: 300px) {
  .login-block,
  .reg-block,
  .newPass-block,
  .reset-block {
    padding: 30px;
  }
}

@media screen and (max-width: 320px) {
  .navbar-brand {
    margin-right: 0 !important;
    width: 79% !important;
  }
  .navbar {
    padding: 0.5rem 0.25rem !important;
  }
}

@media screen and (max-width: 426px){
  .homepage-container {
    grid-template-areas: "homepage-heading"
    "add-rating-container"
    "main";
    grid-template-columns: 1fr;
    grid-template-rows: 0.05fr 0.05fr 1fr;
  }
  
  .detailed-list-page {
    grid-template-areas: "heading"
    "add-rating-container"
    "main";
    grid-template-columns: 1fr;
    grid-template-rows: 0.05fr 0.06fr 1fr;
  }

  .game-details-container {
    grid-template-areas:
    "heading" 
    "add-rating-container"
    "main";
    grid-template-columns: 1fr;
  }

  .games-page {
    grid-template-areas:
      "heading" 
      "add-rating-container"
      "main";
    grid-template-columns: 1fr;
    grid-template-rows: 0.001fr 0.009fr 1fr;

  }
}

@media screen and (max-width: 449px) {
  .navbar-brand {
    margin-right: 0 !important;
    width: 79% !important;
  }
  .navbar {
    padding: 0.5rem 0.25rem !important;
  }
}

@media screen and (max-width: 450px) {
  .rating-item_rating {
    flex-direction: column;
    margin-left: 0px;
    padding-left: 0px;
  }

  .rating-item_rating_text {
    display: flex;
    flex-direction: row;
  }

  .rating-item_rating_tertiary-text {
    flex-direction: column;
  }

  .rating-item_rating_secondary-text {
    flex-direction: column;
    padding-top: 5px;
  }

  .detailed-list_buttons {
    flex-direction: column;
    margin-left: 0px;
  }
}

@media screen and (min-width: 450px) {
  .rating-item_rating {
    margin-left: 0px;
    padding-left: 0px;
  }

  .detailed-list_buttons {
    margin-left: 0px;
  }

  .team_card {
    width: 300px;
    height: 300px;
  }

  .team_card_inner_front {
    padding-top: 50px;
  }

  .team_card_inner_front_name {
    font-size: 1.5rem;
    padding: 20px;
  }

  .team_card_inner_back {
    padding: 30px;
    padding-top: 60px;
  }

  .image-cropper {
    margin-left: 90px;
  }

  .linkIcon {
    width: 40px;
  }
}

@media screen and (min-width: 600px) {
  .login-block,
  .reg-block,
  .newPass-block,
  .reset-block {
    padding: 40px 50px;
  }

  .myLists-container {
    grid-template-columns: 0.5fr 1fr 0.5fr;
    row-gap: 20px;
  }

  .playing-status-container {
    flex-direction: row;
    width: 500px;
    height: 250px;
  }

  .playing-status_ul {
    flex-direction: row;
  }

  .add-rating {
    padding: 20px;
  }

  .add-rating > .heading {
    padding: 0px;
    margin: 20px;
  }

  .rating-item {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .rating-item_rating {
    border-top: none;
    border-left: solid 2px #123440;
  }
}

@media screen and (min-width: 680px) {
  .homepage-container, .game-details-container {
    grid-template-columns: 0.5fr 1fr 0.5fr;
  }
  .detailed-list-page {
    grid-template-areas:
      "heading heading heading"
      ". main add-rating-container";
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }

  .team {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
  }
}

@media screen and (max-width: 768px) {
  .rating-item {
    flex-direction: column;
  }
  .rating-item_rating {
    border-top: solid 2px #123440;
    border-left: none;
  }
}

@media screen and (min-width: 770px) {
  .playing-status-container {
    width: 700px;
  }
}

@media screen and (min-width: 900px) {
  .game-item, .shared-list-item {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .game-item_right {
    border-top: none;
    border-left: solid 2px #123440;
    grid-template-areas:
      "developer released average-rating"
      "developer-name release-date average";
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 1fr;
    padding: 20px 0px 20px 20px;
    column-gap: 10px;
    row-gap: 10px;
  }

  .shared-list_gameplay {
    align-self: end;
  }
  
  .shared-list_f2p {
    align-self: end;
  }
  
  .shared-list_gameplay_number {
    align-self: start;
  }
  
  .shared-list_f2p_number {
    align-self: start;
  }

  #shared-list_delete {
    align-self: center;
  }
  
  .shared-list-item_rating {
    border-top: none;
    border-left: solid 2px #123440;
    grid-template-areas:
      "gameplay f2p shared-delete"
      "gameplay_num f2p_num shared-delete";
    grid-template-columns: 1fr 1fr .5fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px 0px 10px 10px;
    column-gap: 10px;
    align-items: end;
  }

  .detailed-list-page {
    grid-template-areas:
      "heading heading add-rating-container"
      ". main add-rating-container";
    grid-template-columns: 0.5fr 1fr 0.5fr;
    column-gap: 20px;
  }
}

@media screen and (min-width: 1000px) {
  .homepage-container, .game-details-container {
    grid-template-columns: 1fr 4fr 1fr;
  }
  
  .login-buttons {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .login-block,
  .reg-block,
  .newPass-block,
  .reset-block {
    padding: 50px 80px;
  }

  .team {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr max-content 1fr;
    grid-auto-flow: row;
  }
}

@media screen and (min-width: 1050px) {
  .myLists-container {
    grid-template-areas:
      "list-playing add-rating-container"
      "list-not-playing add-rating-container"
      "list-f2p ."
      "list-gameplay ."
      "All_List .";
    grid-template-columns: 1fr 0.25fr;
    column-gap: 10px;
  }

  .myLists_playing .heading-button {
    padding: 20px;
    margin: 20px;
  }

  .add-rating_container {
    margin-right: 10px;
    margin-left: 10px;
  }

  .playing-status-container {
    width: 700px;
  }

}

@media screen and (min-width: 1300px) {

  .shared-list-item_rating {
    border-top: none;
    border-left: solid 2px #123440;
    grid-template-areas:
      "gameplay f2p shared-delete"
      "gameplay_num f2p_num shared-delete";
    grid-template-columns: 1fr 1fr .5fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px 0px 10px 10px;
    column-gap: 10px;
  }
}

@media screen and (min-width: 1400px) {
  .homepage-container, .game-details-container {
    grid-template-columns: 1fr 6fr 1fr;
  }

  .myLists-container {
    grid-template-areas:
      ". list-playing add-rating-container"
      ". list-not-playing add-rating-container"
      ". list-f2p ."
      ". list-gameplay ."
      ". All_List .";
    grid-template-columns: 0.5fr 1fr 0.5fr;
    column-gap: 10px;
  }

  .team {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
  }
}
